* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#canvas1 {
    background: url("./assets/background.png");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%,-50%);
    pointer-events: none;
}

#obstacles,#bull,#egg,#toad,#larva,#toads {
    display: none;
}